 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1901px;
}

.u-section-1 .u-image-1 {
  filter: none;
  width: 433px;
  height: 326px;
  margin: 16px auto 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: -303px 70px 0 540px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 104px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 87px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 190px;
  width: 1120px;
  margin: 10px 0 -32px;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
  min-height: 336px;
}

.u-section-1 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
  min-height: 861px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-custom-html-1 {
    width: 920px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 190px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1831px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 256px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}