<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Dance Radio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Логотип Retro Dance Radio">
        </div>
        <div class="title">Retro Dance Radio</div>
    </header>
    <main>
        <div class="player">
            <iframe src="https://radio.retrodanceradio.com/public/retro_dance_radio/embed?volume=44" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 150px; height: 150px; border: 0;"></iframe>
        </div>
        <div class="recent-tracks">
            <h2>Недавно проигранные треки</h2>
            <iframe src="https://radio.retrodanceradio.com/public/retro_dance_radio/history" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 300px; height: 300px; border: 0;"></iframe>
        </div>
        <div class="requests">
            <h2>Заказ песни</h2>
            <iframe src="https://radio.retrodanceradio.com/public/retro_dance_radio/embed-requests" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 850px; height: 850px; border: 0;"></iframe>
        </div>
    </main>
</body>
</html>
