body {
    font-family: Arial, sans-serif;
    background-color: #003366;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    max-width: 200px;
}

header .title {
    font-size: 24px;
    font-weight: bold;
}

.player {
    padding: 20px;
    background-color: #006699;
    text-align: center;
}

#radioStream {
    width: 100%;
}
